/*  your css code here. If applicable */
.middle , td,tr{
	border:1px solid black;
	
}
td{
	height:15px;
}
.middle{
	width:100%;
}
#t-image{
	text-align:center;
}
h1{
	text-align:center;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}